.seahawk {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
}

.logo{
    width:80%;  
    margin-right: 10%;
    margin-left: 10%;
}

h2{
    color: white;
}


mat-form-field{
    width: 80%;
}
