/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

h1{
    text-align: center;
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    text-align: center;
}

button {
    margin: auto;
    align: center;
}
mat-card {
    margin: 10px;
    width: 280px;
}

.center {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}