/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background:#065c96;
}

h1{
    text-align: center;
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    text-align: center;
}

button {
    margin: auto;
    align: center;
}
mat-card {
    margin: 10px;
    width: 280px;
}

.center {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mat-form-field-flex{
    background: white!important;
}



/* ignore this for now*/

@import '~@angular/material/theming';

@include mat-core();


$custom-brower-light-primary: mat-palette($mat-indigo);
$custom-brower-light-accent:  mat-palette($mat-pink, A200, A100, A400);


$custom-brower-light-warn:    mat-palette($mat-red);

$custom-brower-light-theme: mat-light-theme($custom-brower-light-primary, $custom-brower-light-accent, $custom-brower-light-warn);


.custom-material-brower-light {
    @include angular-material-theme($custom-brower-light-theme);
}
