.seahawk{
    margin-top: 30px;
    opacity: 0.5;
}

.home{
    position: relative;
}
.college-title{
    position: absolute;
    color: white;
    text-align: center;
    top: 130px;
    margin: auto;
    left: 0;
    right: 0; 
}

.content{
    background: white;
    height: 500px;
}

h2{
    color: white;
}